body {
  font-size: 20px;
  background-image: linear-gradient(65deg, #4682B4, #DDA0DD);
  color: #ffffff;
}

button {
  height: 100px;
  width: 250px;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  font-size: 30px;
  line-height: 30px;
  padding: 30px;
  border-radius: 20px;
  font-family: Georgia, serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image: linear-gradient(to right, #DDA0DD, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%);
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  border: 2px solid rgb(28, 110, 164);
  cursor:pointer
}

.oculto {
  display: none;
}

/* Janela visível do carrossel */
.janela-carrossel {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 25px;
}

.trilha-carrossel {
  display: flex;
  transition: transform 0.5s ease;
}

/* Cada imagem do carrossel */
.item {
  min-width: 100%;
  height: auto;
  flex-shrink: 0;
}

.item img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

#btn-conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* altura total da tela */
}

#contador {
  text-align: center;
  font-size: 1.35rem;
  color: #ffffff;
}

h1 {
  text-align: center;
  font-size: 2rem;
  color: #ffffff;
}

p{
  margin-left: 10px;
}